html#main-window {
	--color-bg: #161821;
	--toolbar-bgcolor: var(--color-bg) !important;

	--gap-between-tabs: 5px;
	--margin-after-tab-list: 8x;
	--margin-before-tab-list: 8px;
	--tab-font: "Hack Nerd Font", sans-serif;
	--tab-font-weight: 400;
	--tab-height: 25px;
	--tabs-container-height: 85px;

	--urlbar-container-margin: 5px;
	--urlbar-list-width: 50%;
	--urlbar-text-font: "Hack Nerd Font", sans-serif;
	--urlbar-text-size: 10pt;
	--urlbar-text-weight: 400;

	/* Firefox variables */
	--lwt-toolbar-field-focus-color: #c6c8d1 !important;
	--lwt-toolbar-field-color: #c6c8d1 !important;
	--lwt-toolbar-field-background-color: var(--color-bg) !important;

	--arrowpanel-background: #161821 !important;
	--arrowpanel-color: white !important;
	--arrowpanel-border-color: transparent !important;
}

/* This positions the tabs under the navaigator container */
#titlebar {
	-moz-box-ordinal-group: 3 !important;
}

/* *******************************************************************
	Toolbar Elements
*/
.browser-toolbar {
	padding-left: 10px !important;
	padding-top: 10px !important;
	padding-right: 10px !important;
}

/* Bookmarks bar tweaks */
#PlacesToolbar {
	align-items: center !important;
	display: flex !important;
	font-family: "Hack Nerd Font", sans-serif !important;
	font-size: 11pt !important;
	font-weight: 400 !important;
	justify-content: center !important;
}

/* Custom back and forward buttons */
#back-button {
	list-style-image: url("left-arrow.svg") !important;
}

#forward-button {
	list-style-image: url("right-arrow.svg") !important;
}

#navigator-toolbox {
	--tabs-border-color: var(--color-bg) !important;
	background-color: var(--color-bg) !important;
	border: none !important;
	box-shadow: none !important;
	max-height: var(		--tabs-container-height	) !important;
	min-height: var(		--tabs-container-height	) !important;
}

/* *******************************************************************
	Urlbar
*/

/* Url bar suggestions list container */
.urlbarView {
	background-color: var(--color-bg) !important;
	border-radius: 0 8px 8px!important;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 35%) !important;
	box-shadow: none !important;
	margin: auto !important;
	width: var(--urlbar-list-width) !important;
}

/* Url bar suggestions' selected row */
.urlbarView:not(.megabar) .urlbarView-row:not([type="tip"])[selected],
.urlbarView.megabar .urlbarView-row:not([type="tip"])[selected] > .urlbarView-row-inner {
	background: #c6c8d1 !important;
	color: black !important;
	fill-opacity: 1;
}

/* The text that says 'Search with ...' */
.urlbarView-action {
	color: black !important;
}

/* Url bar suggestions' row that is being hovered over */
.urlbarView-row:hover {
	background-color: none !important;
	background-image: linear-gradient(77deg, #c6c8d1, #c6c8d1) !important;
	color: black !important;
}

/* Text that says: This time, search with: */
#urlbar-one-offs-header-label {
	font-family: "Cantarell", sans-serif !important;
	font-size: 11pt !important;
	font-weight: 400 !important;
}

#urlbar-background,
#urlbar-container,
.urlbar-input-box {
	background-color: var(--color-bg) !important;
	background-image: none !important;
}

#urlbar:not(.megabar),
#urlbar.megabar > #urlbar-background,
#searchbar {
	border: none !important;
	box-shadow: none !important;
}

/* Hacky way to make the url input bar centered */
input#urlbar-input {
	caret-color: white !important;
	font-family: var(--urlbar-text-font) !important;
	font-size: var(--urlbar-text-size) !important;
	font-weight: var(--urlbar-text-weight) !important;
	text-align: center !important;
	width: 99999px !important;
}

.urlbarView-favicon,
.urlbar-history-dropmarker,
#star-button,
#identity-box {
	display: none !important;
}

#tracking-protection-icon-container,
#urlbar-search-button {
	background-color: none !important;
	background-image: none !important;
	border: none !important;
}

/* *******************************************************************
	Browser tabs
*/

/* Hide some bloat */
.tab-close-button,
.tab-line,
.tabbrowser-tab::before,
.tabbrowser-tab::after,
.tabbrowser-tab .tab-icon-image {
	display: none !important;
}

/* Regular browser tabs */
.tabbrowser-tab {
	background-color: #161821 !important;
	background-image: none !important;
	border-radius: none !important;
	margin-inline-end: var(--gap-between-tabs) !important;
	max-height: var(--tab-height) !important;
	min-height: var(--tab-height) !important;
	color: gray !important;
}

.tabbrowser-tab:hover {
	background-color: none !important;
	background-image: #c6c8d1 !important;
	color: none !important;
}

.tabbrowser-tab[selected="true"] {
	background-color: none !important;
	background-image: none !important;
	color: white !important;
	font-weight: var(--tab-font-weight) !important;
}

.tab-content {
	background-color: none !important;
	background-image: none !important;
	font-family: var(--tab-font) !important;
}

/* pinned browser tabs */
/* TODO: Find a way to add spacing between the pinned tabs when tab list scrolling is triggered. Adding a margin just screws everything up */
.tabbrowser-tab:hover[pinned="true"] {
	background-image: linear-gradient(to left, #ff8989, #ff8989) !important;
}

.tabbrowser-tab[pinned="true"][selected="true"] {
	background-image: linear-gradient(to left, #a1ffb6, #a1ffb6) !important;
}

.tabbrowser-tab[pinned="true"] {
	background-image: linear-gradient(to left, #ffc386, #ffc386) !important;
	color: #1d1d1d !important;
	max-width: var(--tab-height) !important;
	min-width: var(--tab-height) !important;
}

.tabbrowser-tab[pinned="true"] .tab-icon-image {
	align-items: center !important;
	display: inline-block !important;
	min-height: var(--pinned-tab-favicon-dim) !important;
	min-width: var(--pinned-tab-favicon-dim) !important;
}

.tabbrowser-tab[pinned="true"] .tab-label-container {
	display: none !important;
}

.tab-stack {
	display: flex !important;
	justify-content: center !important;
}

/* Modify these values to tweak the start point of the tab list */
.tabbrowser-arrowscrollbox {
	margin-inline-start: var(--margin-before-tab-list) !important;
	margin-inline-end: var(--margin-after-tab-list) !important;
}

/* *******************************************************************
	Settings menu pop-up
*/
.panel-arrowbox {
	margin: 0 !important;
	display: none !important;
}

.panel-arrowcontent {
	opacity: 1 !important;
	margin: 0 !important;
}

/*CHANGE NEW TAB BACKGROUND COLOUR*/
@-moz-document url("about:newtab") {
    body {
        background-color: #161821 !important;
    }
}


